
@font-face {
	font-family: 'ONE-Mobile-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'ONE-Mobile-Regular', cursive!important;
}

body{
	height : 100vh;
	background-color: #202126!important;
	-ms-user-select: none;
	-moz-user-select: -moz-none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	user-select:none;
	color : whitesmoke;
}

.mid{
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
	width : 100%;
	height : 100%;
}

.mid h2{
	margin-bottom : 50px;
}

.mid form{
	width : 100%;
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
}

#member_id, #member_pwd{
	border-left-width: 0;
	border-right-width : 0;
	border-top-width : 0;
	border-bottom-width : 0.5;
	background-color:transparent!important;
	margin : 10px 0 15px 0;
	font-size: 16px;
	color : #7F9871;
	padding : 3px;
	width : 200px;
}

.mid input:focus {
	outline:none;
}

.mid input[type=password] { 
	font-family:'Malgun gothic', dotum, sans-serif!important;
	color : #7F9871;
}

#lsubmit{
	padding : 10px 18px 10px 18px;
	font-weight: 700;
	border-radius: 5px;
	font-size : 16px;
	border : none;
	margin-right : 5px;
	background-color : #9795A3;
	color : whitesmoke;
}

#lsubmit:hover{
	cursor : pointer;
}

.btns{
	display : flex;
	margin-top : 15px;
	width : 300px;
	justify-content: space-between;
	
}

.btn{
	/* padding : 10px 18px 10px 18px; */
	font-weight: 700;
/* 	border-radius: 5px; */
	font-size : 16px;
	border : none;
/* 	margin-right : 20px; */
/* 	background-color : #9795A3; */
	color : #C94F44!important;
}


.btn:link { 
	color: whitesmoke;
	text-decoration: none;
	
}

.btn:visited {
	color: whitesmoke; 
	text-decoration: none;

}

