
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

.fa,.fab,.fad,.fal,.far,.fas, i{
	font-weight: 900 !important;
}

a:link, a:hover { 
	color: whitesmoke!important;
	text-decoration: none!important;
}

a:visited {
	color: whitesmoke!important; 
	text-decoration: none!important;
}



body{
	height : 100vh;
	background-color: #202126!important;
	-ms-user-select: none;
	-moz-user-select: -moz-none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	user-select:none;
}

.mid{
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 10%;
	min-height: 15%;
}



label{
	color : whitesmoke!important;
	font-size: 20px;
	margin-bottom: 15px!important;
}

#member_id, #member_pwd, #member_name, #member_phone, #email {
	margin-top : 10px!important;
	margin-bottom : 25px!important;
	width : 300px;
	color : #7F9871;
	font-weight: 700!important;
	font-size: 16px;
	padding-bottom : 5px;
	
}

#member_id{
	border : none!important;
	background-color:transparent!important;
}

#member_pwd, #member_name, #member_phone, #email{
	border-left-width: 0;
	border-right-width : 0;
	border-top-width : 0;
	border-bottom-width : 0.5;
	background-color:transparent!important;
}

input[type=password]{ 
	font-family:'Malgun gothic', dotum, sans-serif!important;
}

i{
	color : silver;
	font-family : fontAwesome!important;
	font-size : 23px!important;
}


input:focus {
	outline:none;
}

.btns{
	display: flex;
	justify-content: center;
	margin : 15px 0 15px 0;
}

#usubmit, #ureset{
	padding : 10px 18px 10px 18px;
	font-weight: 700;
	border-radius: 5px;
	font-size : 18px;
	border : none;
}

#usubmit:hover{
	cursor : pointer!important;
}

#usubmit{
	margin-right : 15px;
	background-color: #9795A3;
	color: whitesmoke;
}

/* a{
	font-size: 23px!important;
    margin-left: 40px!important;
    position: relative!important;
    top: 3px!important;
} */





