*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #202126!important;
	-ms-user-select: none;
	-moz-user-select: -moz-none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	user-select:none;
	color : whitesmoke;	
}

.first{
	display : flex;
	justify-content: center;
	align-items: center;
	height : 100vh;
}

.reserve_date{
	padding : 20px 20px 20px 20px;
	width : 1100px;
	white-space:nowrap;
 	overflow-x: scroll;
	font-size : 25px;
	font-weight : 700;
	color : #7F9871;
}

/**/
.reserve_date::-webkit-scrollbar {
    height : 5px;
    background-color: none;
  }
  
.reserve_date::-webkit-scrollbar-thumb {
    background-color: #9795A3;
    border-radius: 5px;
    width : 2px;
  }


.mid{
	height : 700px;
	width : 1100px;
	display : flex;
	flex-direction : column;
	font-size : 20px;
	border : 1px solid grey;
	border-radius: 10px;
}

.choose_section{
	display : flex;
	justify-content: center;
	align-items: center;
	height : 100%;
}

.movie-date-wrapper{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	margin : 10px 0 15px 15px;
	background-color: transparent!important;
	font-size: 16px;
	color : whitesmoke;
	border : none;
	font-size : 18px;
}

.reserve_button{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	margin : 10px 0 15px 0;
	background-color: transparent!important;
	font-size: 16px;
	color : whitesmoke;
	border : none;
	font-size : 18px;
}

.movie-date-wrapper:hover, .reserve_button:hover, .movielist_button:hover, .movielist:hover{
	cursor : pointer;
	color : #7F9871;
}


/**/
.movielist{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	margin-bottom : 15px;
	background-color: transparent!important;
	border : none;
	size : 20px;
	color : whitesmoke;
}



/**/
.movielist{
	font-size : 16px;
	margin-bottom : 8px;
}

.movie{
	height : 490px;
	width : 350px;
}

.movielist_table, .time_table{
	padding : 10px;
	display : flex;
	align-items: center;
	justify-content: center;
	margin-top : 10px;
	background-color: dimgray;
	border-radius : 10px;
}

.movielist_wrapper{
	margin-top : 20px;
	padding : 10px;
	display : flex;
	flex-direction: column;
	font-size : 18px;
	height : 400px;
	overflow : auto;

}

.movielist_wrapper::-webkit-scrollbar {
	width: 5px;
    background-color: none;
    
  }
  
.movielist_wrapper::-webkit-scrollbar-thumb {
    background-color: dimgray;
    border-radius: 5px;
    
  }

.time{
	width : 200px;
	height : 490px;
 	margin-left : 50px; 
}

.movietime{
	font-size : 16px;
}

.time_wrapper{
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
	margin-top : 20px;
}

.last_section, .choose_result_content{
	height : 100%;
	display : flex;
/* 	flex-direction : column; */
	align-items: center;
}


.moveSeatButton{
 	margin : 15px 0;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	background-color: #C94F44;
	padding : 15px;
	border-radius : 5px;
	font-size: 16px;
	color : whitesmoke;
	border : none;
	font-size : 18px;
	font-weight: 700;
}

.moveSeatButton:hover, .moveSeatButton:focus{
	cursor : pointer;
	animation-duration: 1s; 
	animation-name: Linkcolor;
	animation-iteration-count: infinite;
} 


@keyframes Linkcolor {     
 0% { background-color: #C94F44; }
 50% { background-color: #9795A3; }
 100% { background-color: #C94F44; }
}


/*임시 이미지(선택한 영화 포스터)*/
.example{
	width : 150px;
	height : 200px;
}

.choose_result_section{
	width : 400px;
	padding-left : 20px;
	display : flex;
 	flex-direction : column;
	align-items: center;
	justify-content: center;
}

.choose_result_ticket{
  width : 300px;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  border: 8px #9795A3; 
  border-radius : 10px;
  border-style:inset;
  padding : 30px 0;
}


.choose_result_content{
	display : flex;
	flex-direction : column;
	font-size : 16px;
}

.choose_result_title{
	margin : 10px 0;
}

.choose_result_date{
	margin-bottom : 10px;
}



