*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#info_wrap{
   margin: 0 auto;
   text-align: center;
}
#info_title{
   position: relative; 
	padding : 50px;
	background-color: black;
	width: 100%;
	height: 500px;
	color:white;
}
.info_left{
	position: relative; 
    right: 180px;  
    height: 250px;
    display: inline-block;
    text-align: left;
    width: 750px;
}
.info_left h2{	
    font-size: 50px;
    margin: 10px 0;
}


.info_left .subinfo{
	text-align: center;
}
.info_right{
	position: relative; 
    bottom: 395px;
    left: 430px;	
}
.info_right img{
	width: 310px;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid white;
}
.info_bottom{
	width: 700px;
    margin: 0 auto;
    position: relative;
    top: 60px;
    right:200px;
}


.info_bottom:after{
	clear:both;
	content: '';
	display: table;
}
.bottom{
	text-align: left;
	margin: 10px 0;
	width: 160px;
    float: left;
}
.bottom:last-child{
	width: auto;
}

.bottom .sub{
	font-size: 34px;
}
.bottom .sub span{
	font-size: 18px; 
    padding-left: 10px;
}

.bg{
  	position: absolute;
    left: 50%;
    top: 0;
    width: 1100px;
    margin: 0 0 0 -550px;
    height: 500px;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 0.18;
   }
/*팝오버*/
#attendance{
	z-index :2;
	    position: relative;
    bottom: 108px;
    left: 80px;
}
 
/* 예매하기 버튼 */
.moveForm input {
  /* 생략 */
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
background-color:#C94F44;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color:white;
     margin-top: 35px;
    width: 250px;
    border-radius: 30px;
    height: 55px;
    border: 3px solid #9A3F36;
    font-size: 18px;
}
.moveForm input:hover,
.moveForm input:active{
  background-color:#9A3F36;
    border: 3px solid #C94F44;
    color: #DBDBDB;
}
.moveForm input:disabled {
  opacity: 0.5;
}

 /* 예매불가*/
.moveForm input.notreserve{
	background: #f1f1f1;
    color: black;
    border: 3px solid #ccc;
    cursor: auto;
}
 /* 영화정보 / 관람평 */  
 .tab_wrap{
   margin: 30px auto;
 	width: 1100px;
 	list-style: none;
    display: flex;
 }
.tab_wrap li{
 	border-bottom: 2px solid #ccc;	
 	width: 50%;
 	padding: 15px;
 	font-size: 18px;
 	cursor: pointer;
}  
.tab_wrap li.act{	
 	border-bottom: 4px solid #C94F44;
 	font-weight: bolder;
}

   /* 영화정보 테이블 */
 #content{
 	clear: both;
   	width: 1100px;
   	margin: 40px auto;
 }
 #content th{
   	width: 110px;
 }
 #content td{
 	text-align: left;
 }
 
 /*스틸컷*/
.stll_title{
	margin: 30px auto;
    padding: 10px;
    text-align: left;
    width: 1100px;
    border-bottom: 2px solid #ccc;
}
.stllcut{
	width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.stll{
	padding: 10px;
    border: 3px solid #7F9871;
    margin: 10px;
    border-radius: 10px;
}

 /* 리뷰목록 */
 .review_wrap{
 	width: 1100px;
 	margin: 60px auto;
 	text-align: left;
 }
 .line{
 	width: 100%;
 	height: 2px;
 	background-color: #ccc;
 	margin: 10px 0;
 }
 ul.review{
 	padding: 0px 20px;
 	list-style: none;
    margin-bottom: 0px;
 }
 .review li{
 	margin: 25px 0;
 }
 
 .review img{
	width: 23px;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
 }
 .review .userName{
   margin-right: 10px;
   font-size: 16px;
 }
 .write_date{
 	float:right;
 	font-size: 13px;
 	position: relative;
 	top:10px;
 	right: 20px;
 }
 .user_info{
 	margin: 10px 0;
 }
 .review_info{
 	padding: 20px 30px;
 	background-color: #F1F1F1;
 	border-radius: 15px;
 	border-top-left-radius: 0px;	
	position: relative;
 }
 .myreview{
 	background-color: #9795A3;
 	color:white;
 }

/* 로그인안한채로 관람평 선택시 로그인 필수안내창 */
.loginInfo{
	 width: 250px;
    position: absolute;
    right: -40px;
    bottom: 50px;
    text-align: center;
    border: 1px solid #7F9871;
    background-color: white;
    color: black;
    padding: 10px;
}
.loginInfo p{
	margin-bottom: 0px;
}

.review_info img{
	float:right;
    width: 22px;
   	cursor:pointer;
    margin: 5px 0;
}
.edit, .report{
	background-color: white;
	border: 1.5px solid #7F9871;	
    width: 75px;
    padding: 10px 20px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    position: absolute;
    right: 60px;
    top: 10px;
}
.etc>span{
    float: left;
    cursor: pointer;
    color: #007BFF;
}
#modifyBtn{
	margin-bottom: 5px;
}
.etc>span:hover{
	text-decoration: underline;
}
.report{	
    width: 350px;
    text-align: center;
}
.report p{
	margin-bottom: 0px;
}
.report span{	
    float: none;
    text-align: center;
}

/* 줄거리(포스트잇) */
div.rgyPostIt {
    position: relative;
    display: inline-block;
    padding: 20px 45px 20px 15px;
    margin: 10px 0 30px;
    width: 1000px;
    line-height: 2.0;
    border: 1px solid #7F9871;
    border-left: 30px solid #7F9871;
    border-bottom-right-radius: 60px 10px;
    font-size: 17px;
    color: white;
    word-break: break-all;
    background: linear-gradient(135deg, #7F9871 81%, #7F9871 82%, #7F9871 82%, #7F9871 100%); /* W3C */
    -webkit-transition: all 0.2s;
}

div.rgyPostIt::after {
    content: " ";
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 35px;
    width: 150px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

div.rgyPostIt:hover {
    border-bottom-right-radius: 75px 30px;
}

div.rgyPostIt:hover::after {
    box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
}
 /*관람평 쓰기 버튼 */
 #review_window{
 	color: black;
    cursor: pointer;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    background-color: #f1f1f1;
    float: right;
    position: relative;
    bottom: 12px;
 }
 #review_window:hover{
 	color:#9B3E36;
 }
 
 
/* 리뷰 창 */
form#review_write {
    width: 700px;
    height: 500px;
    background-color: white;   
    position: fixed;
    top: 20%;
    left: 25%;
    z-index : 99;
}
.window_top{
    background-color: #7F9871;	
    padding: 12px 30px 5px;
    text-align: left;
    color: white;
   position: relative;
}
.window_top img{	
   position: absolute;
    right: 20px;
    top: 15px;
    width: 20px;
    cursor: pointer;
}
.score h2{
 margin: 10px;
}
.score{	
    padding: 20px;
}

.score fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}

.score input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
.score label{
    font-size: 2em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
    transition: all 0.2s;
}
.score label:hover{
    text-shadow: 0 0 0 #AED598; /* 마우스 호버 */
    transition: all 0.2s;
}
.score label:hover ~ label{
    text-shadow: 0 0 0 #AED598; /* 마우스 호버 뒤에오는 이모지들 */
    transition: all 0.2s;
}
.score input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #AED598; /* 마우스 클릭 체크 */
    transition: all 0.2s;
}
.score h2+p{
	width: 560px;
    position: relative;
    top: 10px;
    text-align: right;

}
.score textarea{
	padding: 10px 20px;
}

.score input{
	padding: 8px 20px;
	margin: 20px 15px;
}

.score .alarm{	
    color: #C94F44; 
    margin-bottom: 0px;
}
input#review_starpoint{
	text-align: right;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*유의사항*/
.notice h5{
   margin-bottom: 20px;
    border-bottom: 2px solid #f1f1f1;
}
.notice{
	padding: 30px 50px 20px;
    margin: 90px auto;
    width: 1100px;
    text-align: left;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
}

/*더보기*/
.more_open{
	cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}