@charset "UTF-8";
@font-face { 
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'ONE-Mobile-Regular', cursive;
}

.myfilmstory {
	margin: 0 auto;
	width: 1100px;
	display: flex;
	flex-direction: row;
	padding-top: 50px;
}

.filmstory_header {
	font-size: 25px;
	font-weight: bolder;
	padding-right: 10px;
}

.myfilmstory p {
	font-size: 15px;
}

/* 내가 본 영화 리스트 */
.mymovie_list {
	padding-top: 20px;
	margin: 0 auto;
	width: 1100px;
	animation: fadein 2s;
	-webkit-animation: fadein 3s;
}

/* fadein 효과 */
@
-webkit-keyframes fadein {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
/* 내가 본 영화 보여주기 */
.movie_info {
	margin: 0 auto;
	width: 1100px;
	list-style-type: none;
	padding: 20px;
	display: flex;
	flex-direction: row;
	border-bottom: 3px double silver;
}
/* 영화 디테일 */
.movie_detail {
	padding: 20px 40px;
	width: 1100px;
	font-size: 15px;
}

.title {
	font-weight: bolder;
}

/* 관람평 썼을 때 */
.complete_review {
	display: flex;
	font-size: 15px;
}
.rate{
	padding-left: 13px;
	padding-right: 95px;
	font-weight: bolder;
}
.content{
	background-color: beige;
	padding-left: 40px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 0px;
	width: 600px;
	border: 1px solid white;
	border-radius: 10px;
	
	box-shadow: 0 8px 8px -8px grey;
}
.content div{
	font-size: 15px;
	text-decoration: underline;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
.content div p{
	padding: 0px 10px;
}


/* 더보기 */
.more{
	-webkit-animation: motion .5s linear 0s infinite alternate;
	margin-top: 0;
	position: absolute;
	left: 50%;
	top: 105%;
	transform: translateX(-50%);
	font-size: 20px;
}
@-webkit-keyframes motion{
	0%{
		margin-top: 0px;
	}
	100%{
		margin-top: 10px;
	}
}
.more span{
	padding-left: 15px;
}


/* 리뷰 창 */

form#review_write {
    width: 700px;
    height: 480px;
    border: 2px solid black;
    background-color: white;   
    position: fixed;
    top: 20%;
    left: 25%;
    z-index : 99;
}
.window_top{
    background-color: #7F9871;	
    padding: 12px 30px 5px;
    text-align: left;
    color: white;
   	position: relative;
}
.window_top h5{
	font-size: 20px;
}
.window_top img{	
   position: absolute;
    right: 20px;
    top: 15px;
    width: 20px;
    cursor: pointer;
}
.score h2{
 margin: 10px;
}
.score{	
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   	align-items: center;

}

.score fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}

.score input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
.score label{
    font-size: 2em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
    transition: all 0.2s;
}
.score label:hover{
    text-shadow: 0 0 0 #AED598; /* 마우스 호버 */
    transition: all 0.2s;
}
.score label:hover ~ label{
    text-shadow: 0 0 0 #AED598; /* 마우스 호버 뒤에오는 이모지들 */
    transition: all 0.2s;
}
.score input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #AED598; /* 마우스 클릭 체크 */
    transition: all 0.2s;
}
.score span{
	width: 410px;
    position: relative;
    top: 10px;
    text-align: right;
    padding-bottom: 20px;

}
.score textarea{
	padding: 10px 20px;
}

.score input{
	padding: 8px 20px;
	margin: 20px 15px;
}
.btn_review{
	display: inline-block;
}