@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.mypage_wrap{
	margin: 0 auto;
	padding: 5%;
	min-height: 10%;
}
 /* 상단 박스 */
 .info{
 	margin: 0 auto;
 	padding : 20px;
 	width: 800px;
 	height : 280px;
 	border: 4px double beige;
 	border-radius: 20px;
 	background-color: #7F9871;
 	color: #f5f5f5;

 	box-shadow: 0 8px 8px -8px grey;
 }
 /* 사용자 이름 */
 .name{
 	text-indent: 10px;
 	display: flex;
 	justify-content: flex-start;
 	padding : 5px 20px;
 	font-size: 30px;
 	font-weight: bold;
 }

 /* 회원정보수정&탈퇴 */
.modify_quit {
 	font-size: 15px;
 	display: flex;
 	flex-direction: row;
 	justify-content: flex-end;

 }
 .modify_quit div:nth-child(3) {
 	padding: 0px 4px;
 }
.modify, .quit {
	color: #fff2e0;
}
.modify:hover, .quit:hover {
	color: #C94F44;
	text-decoration: underline;
}
/* 내포인트내역, 나의 필름스토리, 나머지 */
.point_story{
	display: flex;
	justify-content: space-around;
	border-top: 3px double white;
	padding: 20px 0px;
	margin: 10px;
}

 /* my point */
 .mypoint{
 	display : flex;
 	flex-direction: column;
 	text-align: center;
 	font-size: 20px;
 	font-weight: bolder;
 }

 .point:hover{
	color: #C94F44;
 }

 /* 나의 필름 스토리 */
 .story{
 	background-color: #b8ab9e;
 	text-align: center;
 	padding: 10px;
 	font-weight: bolder;
 	border-radius: 5px;
 	color: white;
 	width: 145px;
 	height: 95px;
 	font-size: 17px;
 }
.story a{
	font-size: 30px;
	color: white;
}
.story a:hover{
	font-size: 30px;
	color: #C94F44;
}

.etc {
	background-color: #b8ab9e;
	text-align: center;
 	padding: 10px;
 	font-weight: bolder;
 	border-radius: 5px;
 	color: white;
 	width: 123px;
 	height: 95px;
}


/* my예매내역 */
.rsv_wrap, .coupon_wrap{
 	width: 1100px;
	margin: 0 auto;
 	animation: fadein 2s;
 	-webkit-animation: fadein 3s;
 	
 	box-shadow: 0 8px 8px -8px grey;
}
/* fadein 효과 */
@-webkit-keyframes fadein{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.rsv_h, .coupon_h{
	font-size: 25px;
	font-weight: bold;
	padding: 50px 20px 20px 20px;
	margin-top: 30px;
}
 
 /* 예매내역 */
 .rsv_list_wrap, .coupon_list_wrap{
 	background-color: white;
 	border-radius: 10px;
 	border-collapse: collapse;
 	border: 1px solid #c0c0c0;
 	width: 1100px;
 	padding: 40px;
 }

.rsv_list {
	border-bottom: 1px solid #c0c0c0;
	padding: 20px;
	font-size: 18px;
	list-style: none;
}

/* 예매 내역이 없을 때 */
.empty_rsv {
	text-align: center;
}
.empty_rsv img{
	margin: 20px;
}
/* 예매번호 싸기 */
.rsv_no_wrap {
	padding-left: 20px;
}

/* 예매번호  */
.rsv_no{
	color: orange;
	font-weight: bolder;
	font-size: 18px;
	padding-left: 10px;
}
/* 포스터, 예매정보 */
.rsv_info_wrap{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 20px;
}
/* 예매 정보 */
.rsv_info{
	display: inline-block;
	padding: 0 40px;
	word-spacing: normal;
}

/* 영화제목 */
.title {
	font-weight: bolder;
	font-size: 20px;
	padding-bottom: 10px;
}

/* QR 보기, 예약 취소 버튼 */
.rsv_btn{
	display: flex;
	flex-direction: column;
	padding-left: 430px;
}
#qr{
	font-size: 60px;
	padding-left: 10px;
}


/* 카트목록 */
.coupon_list_wrap ul{

    list-style: none;
}
.coupon_list_wrap li{
	 background: url('/resources/img/backticket.jpg') no-repeat;
	background-position: center center;
    background-size: 120%;
   	padding: 90px 110px;
    float: left;
    width: 450px;
    margin: 10px 25px;
}
.clear{
	clear: both;
}
.category{
	background-color: #A34941;
    width: 45px;
    color: white;
    text-align: center;
    border-radius: 5px;
    position:relative;
    bottom: 10px;
}
.coupon_title{
	font-size: 24px;
    font-weight: bolder;
}

.coupon_title + p{
	position:relative;
    top: 20px;
}

.empty_coupon {
	text-align: center;
}
.empty_coupon img{
	margin: 20px;
}
.empty_coupon a{
	font-size: 18px;
    padding: 15px;
    display: block;
    border-bottom: 1px solid #ccc;
}


/* 쿠폰 뒤집기 */
/* 
 .coupon_list {
          perspective: 1500px;
 }

    .coupon_list .coupon {

      border: 1px solid #828282;
      카드의 뒷면을 안보이게 처리-카드가 뒤집히면 뒷면이 안보임
      backface-visibility: hidden;
      transition: 1s;
    }

    .coupon_list .coupon.front {
      앞면 카드가 부유하게 되어, 뒷면 카드가 아래에서 위로 올라감 -> 요소 두개가 겹치게 됨
      position: absolute;
      명시적으로 기본값 설정, 없어도 됨
      transform: rotateY(0deg);
    }

    .coupon_list .coupon.front:hover {
      transform: rotateY(180deg);
      transition: 1s;
    }

    .coupon_list .coupon.back {
      y축을 중심으로 -180도 회전
      transform: rotateY(-180deg);
    }

    .coupon_list .coupon.back:hover {
      transform: rotateY(0deg);
      transition: 1s;
    } */