@charset "UTF-8";
@font-face { 
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'ONE-Mobile-Regular', cursive;
}
 /* 상단 */
 .info{
 	padding : 20px;
 	margin: 0 auto;
 	width: 500px;
 	height : 240px;
 	border: 4px double beige;
 	background-color: #c7efe6;
 	position : absolute;
 	left: 50%;
 	transform:translateX(-50%);
 	z-index: 2;
 	
 	animation: fadein 2s;
 	-webkit-animation: fadein 3s;
 	
 	box-shadow: 0 8px 8px -8px grey;
 }
 .me{
 	text-indent: 10px;
 	display: flex;
 	justify-content: flex-start;
 	padding : 10px;
 	font-size: 25px;
 	font-weight: bold;
 }
 /* 회원정보수정 */
.myinfo1{
 	padding-left: 240px;
 	font-size: 12px;
 }
 /* my point */
 .mypoint{
 	display : flex;
 	flex-direction: column;
 	text-align: center;
 }
 .mypoint p{
 	font-size: 15px;
 	font-weight: bolder;
 }
 .point{
 	font-weight: bolder;
 	font-size: 20px;
 	padding-bottom: 10px;
 }

 /* 나의 필름 스토리 */
 .filmstory{
 	background-color: #7c7c7c;
 	text-align: center;
 	padding: 10px;
 	font-weight: bolder;
 	border-radius: 5px;
 	color: white;
 	width: 123px;
 	height: 95px;
 }
.filmstory a{
	font-size: 30px;
	color: white;
}
.point_film{
	display: flex;
	justify-content: space-around;
	border-top: 3px double white;
	padding-top: 20px;
	padding-bottom: 40px;
}
.etc {
	background-color: #7c7c7c;
	text-align: center;
 	padding: 10px;
 	font-weight: bolder;
 	border-radius: 5px;
 	color: white;
 	width: 123px;
 	height: 95px;
}
/* background box */
.back{
	margin: 0 auto;
	width : 950px;
	height: 580px;
	background-color: #dfdfdf;
	position : absolute;
	left: 50%;
	top: 240px;
 	transform:translateX(-50%);
	z-index: 1;
}
/* my예매내역 */
.myreserve{
	position : absolute;
 	left: 50%;
 	top: 340px;
 	transform:translateX(-50%);
 	z-index: 2;
 	width: 600px;
 	
 	animation: fadein 2s;
 	-webkit-animation: fadein 3s;
 	
 	box-shadow: 0 8px 8px -8px grey;
}
/* fadein 효과 */
@-webkit-keyframes fadein{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.myreservelist_h{
	font-size: 25px;
	font-weight: bold;
	padding: 10px;
}
 .myreservelist1{
 	padding-left: 355px;
 	font-size: 14px;
 }
 /* 예매내역 */
 .reservelist{
 	background-color: white;
 	border-radius: 5px;
 	border-collapse: collapse;
 	border: 1px solid #c0c0c0;
 	width: 600px;
 	padding: 20px;
 }
.reservelist_1{
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 20px;
}
/* 예매번호  */
.reserve_num{
	color: orange;
	font-weight: bolder;
}

.reservelist_1_movieinfo, .reservelist_2_movieinfo{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.reservelist_1_movieinfo2, .reservelist_2_movieinfo2{
	display: inline-block;
	padding-left: 20px;
}

.reservelist_2{
	padding-top: 20px; 
}
/* 영화제목 */
.movie_title{
	font-weight: bolder;
	font-size: 16px;
	padding-bottom: 10px;
}

/* QR 보기, 예약 취소 버튼 */
.reservelist_1_movieinfo2_btn, .reservelist_2_movieinfo2_btn{
	display: flex;
	flex-direction: column;
	padding-left: 230px;
}


