@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.point_list_wrap{
	margin: 0 auto;
	width: 1100px;
	padding: 5% 0;
	min-height: 650px;
}
/* 내 포인트 내역 타이틀 */
.point_h{
	margin: 0 auto;
	padding: 20px;
}

/* 사용가능 포인트 */
.total_point{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
	font-size: 30px;
	background-color: #7F9871;
	border-radius: 10px;
	border: 3px double white;
	color: white;
	
	box-shadow: 0 8px 8px -8px grey;
}
/* 현재 사용가능 포인트 */
.total_point div:first-child{
	font-size: 23px;
	padding-bottom: 10px;
}
/* 합계 */
.total_point span{
	background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #807669 20%);
}

/* 내 포인트 내역 테이블 */
.ptable-wrap{
	margin: 0 auto;
	padding: 5% 0;
}
.coin{
	margin: 3%;
}
