*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #202126!important;
	-ms-user-select: none;
	-moz-user-select: -moz-none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	user-select:none;
}

.form{
	margin: 0 auto!important;
	padding: 10%!important;
	min-height: 10%!important;
	background-color: #202126!important;
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
	width : 1100px;
}


textarea{
	padding : 15px!important;
	width:800px; 
	height:300px; 
    resize:none;
    margin-top : 10px!important;
    font-size : 16px!important;
    border-radius: 5px;
    background-color : gainsboro;
}

.notice_title_title, .notice_content_title{
	color : whitesmoke!important;
	font-size : 16px!important;
	margin : 0!important;
	padding : 0!important;
}

.notice_title{
	width:800px;
	height:30px;
	margin : 10px 0 30px 0!important;
	font-size : 16px!important;
	padding : 15px!important;
	border-radius: 5px;
}

.notice_title:focus, textarea:focus {
	outline:none;
}

.write_btns{
	display : flex;
}

.write_btn, .write_btn_del{
	-webkit-appearance: none!important;
       -moz-appearance: none!important;
            appearance: none!important;
     border : none;
     background-color: #9795A3;
     font-size : 18px!important;
     padding : 10px!important;
     color : whitesmoke;
     cursor : pointer;
     border-radius : 10px;
     margin-right : 15px!important;
     margin-top : 15px!important;
}

 .write_btn:link,  .write_btn_del:link { text-decoration: none!important;}
 .write_btn:visited,  .write_btn_del:visited { text-decoration: none!important;}
 
 .write_btn:hover, .write_btn_del:hover{ 
 	text-decoration: none!important;
 	color : whitesmoke;
 }