*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #202126!important;
	-ms-user-select: none;
	-moz-user-select: -moz-none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	user-select:none;
}

.form{
	margin: 0 auto!important;
	padding: 5%!important;
	min-height: 10%!important;
	background-color: #202126!important;
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
	width : 1100px;
}


.notice_content_t, .notice_content{
	padding : 15px!important;
	width:900px; 
	height:450px; 
    resize:none;
    margin-top : 10px!important;
    font-size : 16px!important;
    border-radius: 5px;
    background-color : gainsboro;
}

.notice_content_t::-webkit-scrollbar {
    width: 12px;
    background-color: none;
  }
  
.notice_content_t::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 10px;
 }

.notice_content::-webkit-scrollbar {
  display: none;
}

.notice_title_title, .notice_content_title{
	color : whitesmoke!important;
	font-size : 16px!important;
	margin : 0!important;
	padding : 0!important;
}

.notice_title{
	width:900px;
	height:40px;
	margin : 10px 0 30px 0!important;
	font-size : 16px!important;
	padding : 15px!important;
	border-radius: 5px;
}

.notice_title:focus, textarea:focus {
	outline:none;
}

.write_btns{
	display : flex;
}

.write_btns_modi{
	display : flex;
	width : 900px;
	align-items: flex-start;
}

.write_btn{
	-webkit-appearance: none!important;
       -moz-appearance: none!important;
            appearance: none!important;
     border : none;
     background-color: #7F9871;
     font-size : 18px!important;
     padding : 10px!important;
     color : whitesmoke;
     cursor : pointer;
     border-radius : 10px;
     margin-right : 15px!important;
     margin-top : 15px!important;
}

.write_btn_del{
	 -webkit-appearance: none!important;
     -moz-appearance: none!important;
            appearance: none!important;
     border : none;
     background-color: #C94F44;
     font-size : 18px!important;
     padding : 10px!important;
     color : whitesmoke;
     cursor : pointer;
     border-radius : 10px;
     margin-right : 15px!important;
     margin-top : 15px!important;
}

.write_btn_go{
	 -webkit-appearance: none!important;
     -moz-appearance: none!important;
            appearance: none!important;
     border : none;
     background-color: #9795A3;
     font-size : 18px!important;
     padding : 10px!important;
     color : whitesmoke;
     cursor : pointer;
     border-radius : 10px;
     margin-right : 15px!important;
     margin-top : 15px!important;
}

 .write_btn:link,  .write_btn_del:link, .write_btn_go:link { text-decoration: none!important;}
 .write_btn:visited,  .write_btn_del:visited, .write_btn_go:visited { text-decoration: none!important;}
 
 .write_btn:hover, .write_btn_del:hover, .write_btn_go:hover{ 
 	text-decoration: none!important;
 	color : whitesmoke;
 }
 
.addfile{
	color : whitesmoke;
	margin : 15px 0;
}

.bottom_content{
	display : flex;
	flex-direction : column;
	align-items: center;
	justify-content: center;
}

.notice_content_all{
	display : flex;
	flex-direction : column;
}

.divimg_all{
	display: flex;
	flex-direction : column;
	align-items: flex-start;
	width : 900px;
	margin-bottom : 20px;
}

 .addimg{
 	width : 100%;
 }
 
#upload{
	color : whitesmoke;

 }