@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.pInsert_wrap{
	margin: 0 auto;
	padding: 3%;
	padding-bottom: 5%;
	min-height: 10%;
	font-size: 18px;
}

/* 사이드바 */
#panel-wrap{
	padding: 20px;
}
#panel-wrap a{
	color: #C94F44;
	font-weight: bolder;
}
#panel-wrap a:hover{
	color: #7F9871;
}

/* 제목 */
#t_header{
	color: #C94F44;
	font-size: 25px;
	text-align: center;
	font-weight: bolder;
	padding-bottom: 20px;
}

/* 테이블 form */
#product_info{
	width: 900px;
	padding: 20px;
}
#product_info label{
	font-weight: bolder;
}


/* 상품 등록/취소 버튼 */
.btns{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#update, #cancel{
	margin: 10px;
	font-size: 18px;
}

/* input, textarea */
#product_info input, textarea {
	padding-left: 5px;
}

/* 상품 설명 */
#product_detail{
	padding: 5px;
}