
@font-face {
	font-family: 'ONE-Mobile-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'ONE-Mobile-Regular', cursive!important;
}

body{
	height : 100vh;
	background-color: #202126!important;
	-ms-user-select: none;
	-moz-user-select: -moz-none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	user-select:none;
}

.mid{
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
}

.form{
	margin-top : 20px;
	color : white;
}

.mid h2{
	width : 100%;
	text-align: center;
	margin-bottom : 100px!important;
	font-weight: 700!important;
	background-color: #9795A3;
	padding : 20px;
	
}

h3{
	color : silver;
}

label{
	font-size: 18px;
}

#member_pwd{
	border-left-width: 0;
	border-right-width : 0;
	border-top-width : 0;
	border-bottom-width : 0.5;
	background-color:transparent!important;
	margin : 10px 0 15px 0;
	font-size: 16px;
}

input[type=password] { 
	font-family:'Malgun gothic', dotum, sans-serif!important;
	color : #7F9871;
}

.btns{
	display: flex;
	justify-content: center;
}

#psubmit, #preset{
	padding : 10px 18px 10px 18px;
	font-weight: 700;
	border-radius: 5px;
	font-size : 16px;
	border : none;
	margin-right : 5px;
}

#psubmit{
	background-color: #9795A3;
	color : whitesmoke;
}

#psubmit:hover, #preset:hover{
	cursor : pointer;
}

input:focus {
	outline:none;
}

