
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 #seat_wrap{
 	width: 1100px;
 	margin: 50px auto;
 	 display: flex;
 }
/* content */
#select_wrap{
	width: 68%;
}
thiss {
	display: hidden;
}


.select-wrapper {
    width: 100%;
    background-color: #F2F0E5;
    margin: 0 auto;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.select-title {
    background-color: #444444;
    color: #dddddd;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.select-seat-container {
    display: flex;
    /* align-items: center; */
    border-bottom: 2px solid #dddddd;
}

.select-seat-number-container {
    flex-grow: 1;
    border-right: 1px solid #dddddd;
    display: flex;
}

.select-seat-number-wrapper {
     padding: 15px 50px;
    flex-grow: 1;
}

.select-seat-ul {
    display: flex;
}

.select-seat-ul>li {
    width: 25px;
    height: 25px;
    border: 1px solid #dddddd;
    text-align: center;
    font-weight: bold;
    /* line-height: 15px; */
    /* padding: 5px; */
    padding: 2px;
    font-size: 18px;
}

.select-seat-ul>li:hover {
    color: white;
    background-color: #222222;
    cursor: pointer;
}

.select-seat-ul-active {
    color: white;
    background-color: #222222;
}

.select-seat-ul>li:not(:first-child) {
    margin-left: 5px;
}

/* .select-seat-information {
    flex-grow: 1;
    padding: 15px 0 20px 20px;
}
 */
.select-seat {
    display: flex;
    font-size: 12px;
}

.select-seat:not(:first-child) {
    margin-top: 12px;
}

.select-seat-age {
     width: 55px;
    font-size: 18px;
}

.select-seat-number {
    margin-left: 15px;
}

.reserve-number-wrapper {
    flex-grow: 1;
    padding-top: 15px;
    border-left: 1px solid #DDDDDD;
    text-align: center;
}

.reserve-number {
    margin-top: 20px;
    font-size: 34px;
    font-weight: bold;
}


.select-seat-information-wrapper {
    display: flex;
}

.select-theater-place {
    font-size: 12px;
}

.select-theater-place:not(:last-child) {
    width: 55px;
    border-right: 1px solid #dddddd;
}

.select-theater-place:last-child {
    width: 150px;
    /* border-right: 1px solid #dddddd; */
}

.select-theater-place:not(:first-child) {
    margin-left: 12px;
}

.remain-seats {
    margin-left: 3px;
    color: rgba(255, 0, 0, 0.6);
    font-weight: bold;
}


.reserve-button {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
    padding: 0;
}

.reserve-button img {
    margin-left: 20px;
    width: 60px;
}

.seat-container {
    display: flex;
    justify-content: center;
}

.screen-view {
    width: 140px;
    color: #777777;
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    margin: 0 auto 30px auto;
    border-bottom: 1px solid #666666;
    letter-spacing: 4px;
}

.seat-wrapper {
    background-color: #222222;
    width: 100%;
    height: 500px;
}



.seat {
    width: 30px;
    height: 30px;
    font-size: 13px;
    background-color: #6E9956;
    color: white;
    border: 1px solid black;
}

.seat:hover {
    background-color: #BF3E33;
    color: white;
    cursor: pointer;
}

.seat:active, .clicked {
    background-color: #BF3E33;
    color: white;
}


.seatButtonWrapper {
    text-align: center;
}

.seatButtonWrapper>input {
    width: 33px;
    height: 33px;
}

.left-margin {
    margin-left: 30px;
}

.right-margin {
    margin-right: 30px;
}
.top-margin {
    margin-top: 30px;
}



/* 선택확인 div */
#check_wrap{

	width: 30%;
	position: relative;
    margin-left: 30px;
    border-radius: 20px;
    height: 587px;
    top: 40px;
    background-color: #D0DAF4;
}
#check_wrap > div{
	padding: 40px 30px;	
}

/*영화명-좌석*/
.select-theater-date {
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.select-theater-date>div {
	margin-bottom: 10px;
    font-size: 18px;
}
.select-theater-date>div:first-child{
    font-size: 24px;
    margin-bottom: 20px;
	
}

.selected-seats-wrapper {
    margin-top: 20px;
}

.selected-seats {
    font-size: 16px;
    word-spacing: 2px;
    margin-left: 20px;
}

.ticket-price-title {
	display:inline-block;
    color: black;
    font-size: 19px;
    font-weight: bold;
    width: 120px;
    margin: 10px 0;
}

.ticket-price-wrapper{
	align-items: center;
	font-size: 20px;
	
}
.ticket-price-wrapper>div{	
	font-weight: bold;
}
input#usePoint, .ticket-price, .last-price{
	display:inline-block;
	width: 100px;
	padding:5px;
    margin: 5px;
	font-size: 20px;
	text-align: right;
}
.ticket-price{
	border-bottom : none;
}
input#usePoint:focus{	
	border: 2px solid #BF3E33;
}
/*보유포인트*/
.mypoint{
    margin: 0 0 50px 115px;
	color: gray;
	font-weight: normal;
		font-size: 17px;
}

/*최종 결제금액*/
.last-price{
	margin-top :20px;
	border-bottom: none;
	color: #BF3E33;
	font-weight: bolder;
	font-size: 22px;
}

/*결제 form*/
.seatForm{
	display: flex;
}    

.finalBtn{
	display: block;
    float: left;
    width: 50%;
    height: 50px;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    color: #fff!important;
    background-color: #53565b;	
}
.reserve-button{	
    background-color: #8A2E26;	
    border-bottom-right-radius: 20px;
}
.before-button{
	    border-bottom-left-radius: 20px;
}
.nobtn{	
    background-color: #ccc;	
    cursor: auto;
}
