 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 #detail_wrap{
 	text-align: center;
 	width: 1100px;
 	margin: 50px auto;
 	padding: 50px 0;
 	min-height: 650px;
 }
 
#box_product_view .product_img{
	width:500px;
	padding: 15px; 
	margin: 20px 25px 20px 0; 
	float: left;
 }
 .product_img img{
 	width: 90%;
 }
 .product_info table{
     width: 52%;
    text-align: left;
    border-collapse: collapse;
 }
.product_info table tr{
  border-bottom: 1px solid #f1f1f1;
}
.product_info table th{
 	height: 70px;
    font-size: 20px;
    padding: 25px;
}
.product_info table tr:first-child th{
	font-size: 30px;
	padding-top: 30px;
}

.product_info table td{
    font-size: 18px;
}

/*수량*/
.count input, .count button{
	display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 23px;
}
.count button{
	cursor: pointer;
}
.count input{
	background-color: #f1f1f1;
	padding: 10px;
    width: 60px;
    text-align: center;    
    font-size: 18px;
    font-weight: bolder;
}
.sum{
	float: right;
    top: 7px;
    position: relative;    
    padding-right: 10px;
}
#product_price{
	font-size: 28px;
    color: #C94F44;
    padding-right: 10px;
    border: none;
    width: 130px;
    text-align: right;
    font-weight: bolder;
    pointer-events: none;
}

/*버튼*/
.total_box .pay-button{
	display: block;
    width: 52%;
    height: 60px;
    font-size: 20px;
    background-color: #C94F44; /* 7F9871 */
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
#product_name, #product_content{
    font-size: 30px;
    border: none;
    font-weight: bolder;
    pointer-events: none;
}
#product_content{
	font-size: 18px;
	font-weight: normal;
	
}